$light: #fffcf2;
$lightdark: #ccc5b9;
$darklight: #403d39;
$dark: #252422;
$accent: #eb5e28;
$black: #000000;
$navHeight: 45px;
$textWidth: calc(100vw - $navHeight - 1em);
$navLinkFontSize: 2rem;
$componentSize: 300px;
$maskSize: 170px;
$speed: 2s;
$borderOffset: 8px;
$backgroundColor: $accent;
$animationProps: $speed linear infinite alternate;