@import "variables";

//===================================================================================//
//about section
.about {
  color: $light;position: relative;
  .page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
      font-weight: 800;
    }
  }
  video {
    align-self: center;
  }
  .desc {
    width: $textWidth;
    max-width: 400px;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 2em 0;
    .q {
      opacity: 0;
    }
  }
  //===================================================================================//
  //text change anim

  .textChangeAnim {
    width: calc(100% - $navHeight);
    font-size: 2.2rem;
    letter-spacing: -0.1rem;
    // color: $black;
    font-weight: 800;

    span {
      color: $accent;
      font-weight: 900;
    }
  }

  button.pdf {
    background-color: transparent;
    font-family: inherit;
    border: none;
    cursor: pointer;
    a {
      color: $accent;
      text-decoration: underline;
      svg {
      margin-right: 3px;
      margin-bottom: -3px
    }
  }
}

@media screen and (min-width: 430px) {
  .textChangeAnim {
    font-size: 3rem;
  }
}
}
.jigsaw {
  position: absolute;
  bottom: 75px;
  transform:scale(1.5)
}
// p {
//   display: inline-block;
//   cursor:grab
// }