@import "variables";

//===================================================================================//
//about section
.about {
  color: $light;
    .page {
      display: flex;
      flex-direction: column;
      justify-content: center; 
      a {
        font-weight: 800;
     
      }
    }
    video {
      align-self: center;
    }
    .desc {
      width: $textWidth;
      max-width: 400px;
      font-size: 1.2rem;
      font-weight: 100;
      margin: 2em 0;
    }
    //===================================================================================//
//text change anim

.textChangeAnim {
    width: calc(100% - $navHeight);
    font-size: 2.2rem;
    letter-spacing: -0.1rem;
    // color: $black;
    font-weight: 800;
  
    span {
      color: $accent;
      font-weight: 900;
    }
  }

  button {
    background-color: transparent;
    font-family: inherit;
    border:none;
    cursor: pointer;
    a {
      color: $accent;    text-decoration: underline;

    }

  }
  }

  
  
@media screen and (min-width: 430px) {

  .textChangeAnim {
    font-size:3rem;
  }}