@import "variables";

@font-face {
  font-family: "Typographica";
  src: url("/Typographica-Blp5.ttf") format("truetype");
}
.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.section:last-of-type {
  min-height: unset;
  min-height:600px
}
.page {
  width: 100%;
  max-width: 850px;
}
.home {
  background-color: $lightdark;
}
.about {
  background-color: $darklight;
}

.work {
  background-color: $lightdark;
}

.notFound {
  background-color: $darklight;
}
.disableScroll {
  height: 100vh;
  overflow: hidden;
}
