@import "variables";

@font-face {
  font-family: "Typographica";
  src: url("/Typographica-Blp5.ttf") format("truetype");
}
.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.page {
  width: 100%;
  max-width: 850px;
}
.home {
  background-color: $lightdark;
}
.work {
  background-color: $darklight;
}
.about {
  background-color: $lightdark;
}
.contact {
  background-color: $lightdark;
}
.notFound {
  background-color: $darklight;
}
.disableScroll {
  height: 100vh;
  overflow: hidden;
}
@media screen and (min-width: 600px) {
  section:nth-last-child(1) {
display: none;
}}