@import "variables";

@font-face {
  font-family: "Typographica";
  src: url("/Typographica-Blp5.ttf") format("truetype");
}
.section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.contact {
  min-height: 600px;
}
.page {
  width: 100%;
  max-width: 850px;
}
.home {
  background-color: $lightdark;
}
.about {
  background-color: $darklight;
}

.work {
  background-color: $lightdark;
}

.notFound {
  background-color: $darklight;
}
.disableScroll {
  height: 100vh;
  overflow: hidden;
}
.basketball {
  font-size: 60px !important;
  color: $accent;
  width: 50px;
  position: absolute;
  z-index:7;
  offset-path: path(
    "M 282.5 -71 C 44.25 -41.5 2.5 145.5 141.25 195 C 199.75 206 182.25 97.5 185.5 50 S 153.3333 -31.6667 104 -53.5 Q 137.5 161.5 -23 127 C -56.8333 102.8333 -33.75 -8.5 -74 -73.5 S 9.1667 15.5 50.75 60 C 85.75 11 120.75 -38 155.75 -87 C 120.25 48.5 84.75 184 49.25 319.5 Z C -1 34.5 72 142.5 145 250.5"
  );
}
// "M 1330 58 C 377 117 210 491 765 590 C 999 612 929 395 942 300 S 813.3333 136.6667 616 93 Q 750 523 108 454 C -27.3333 405.6667 65 183 -96 53 S 236.6667 231 403 320 C 543 222 683 124 823 26 C 681 297 539 568 397 839 Z C 196 269 488 485 780 701"

.basketballAnim {
  animation: ballSpin 3s infinite;
  animation: moveBall 10s infinite ease-in-out forwards;
}
.basketball:before {
  content: "";
  display: block;
}

.playPause {

  background-color: $black;
  border:none;
  color: $accent;
  border-radius: 50%;
  padding: 5px 4px 2px 5px;
  cursor: pointer;
  margin:1em;
  svg {
    font-size: 3rem;
  }
}

.game {display: flex;justify-content: center;align-items: center;
    position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes moveBall {
  from {
    offset-distance: 0%;
  }

  to {
    offset-distance: 100%;
  }
}
@keyframes ballSpin {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
