@import "variables";

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 5em 3em;
  font-size: 1.2rem;
  &:nth-child(1) {
    margin-top: 5em;
  }
  .container {
    position: relative;
    width: 75vw;
    max-width: 512px;
    height: calc(auto - 3px);
    svg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 6;
      font-size: 2.2rem;
      margin: 0.5em 0.5em 0 0;
      background-color: $accent;
      border-radius: 50%;
      cursor: pointer;
      animation: spin 6s infinite;
    }
    svg.overlayHidden {
      background-color: $accent;
      color: $black;
    }
    svg.overlayVisible {
      background-color: $black;
      color: $accent;
    }
  }
  h2 {
    font-size: 2.8rem;
  }
  .overlay {
    position: relative;
    margin-top: 0 auto;
    pointer-events: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 1em;
    color: $black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 3px);
    background-color: #f14e0ed6;
    transition: transform 1.5s ease-in;
    // $light: #fffcf2;
    // $lightdark: #ccc5b9;
    // $darklight: #403d39;
    // $dark: #252422;
    // $accent: #eb5e28;

    p {
      font-size: 1.3rem;
      margin-bottom: 1em;
    }
  }
  div.overlayHidden {
    transform: translateX(-100%);
  }

  div {
    width: 100%;
  }
  .techContainer {
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    span {
      margin-right: 1.5em;
    }
  }
  .buttonContainer {
    margin-top: 3px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .fullStackButtons {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }

    button {
      // color: $light;
      padding: 2px;
      border: none;
      background-color: transparent;
      font-family: "Fira Mono";
      font-weight: 600;
      margin-left: 2em;
      a {
        color: $black;
        text-wrap: nowrap;
        &:hover {
          color: $accent;
        }
      }
      .demo {
        background-color: black;
        padding: 0.3em 0.5em;
        color: $accent;
        margin-bottom: -3px;
      }
    }
  }
  .fullStackButtonContainer {
    flex-direction: column;
  }
  img {
    height: 100%;
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
