@import "variables";

.notFound {
  .page {
    color: $light;
    display: flex;justify-content: center;align-items: center;flex-direction:column;
    h1, h2 {
      width: 80%;
     
    }
    h2 {
        font-weight: 400;
    }

  }
}
