@import "variables";

//===================================================================================//
//skills
.work {
  .page {
    display: flex;
    // justify-content: center;
    // align-items: center;
  }
  position: relative;
  //   .skills {
  //     position: absolute;
  //     left: 0;
  //     top: 0;
  //           width: 100vw;
  // background-color: $black;
  //     color: $light;
  //     overflow-x: hidden;

  //      .wrapper {
  //       display: flex;
  //       align-items: center;
  //       overflow-x: hidden;
  //       // animation: carousel 60s linear infinite;
  //       @keyframes carousel {
  //         from {
  //           transform: translateX(0);
  //         }
  //         to {
  //           transform: translateX(calc(-50px * 30));
  //         }
  //       }
  //       .overlay {
  //         width: 150px;
  //       }
  //       p {
  //        text-wrap: nowrap;
  //       }
  //     }
  //   }

  .skills {
    width: 100vw;
    position: absolute;
    left: 0;
    font-size: 1rem;
    background-color: black;
    color: white;
    user-select: none;
    overflow: hidden;
    display: flex;
    width: 100%;
  }

  .skills ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scroll 20s linear infinite;
  }
  li {
    margin: 1em;
    text-wrap: nowrap;
  }
  a {
    color: #000;
  }

  .skills:hover ul {
    animation-play-state: paused;
  }

  .projects {
    width: calc(100% - $navHeight - 1em);
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 7em 0 5em 0;
  }

  @keyframes scroll {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
}
