* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-synthesis: none;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

body {
  min-height: 100vh;
}
